<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/spinner.css">
    <link rel="stylesheet" href="/styles/details.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="/assets/details.js"></script>
    <title>Sportify</title>
</head>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand nostyle" href="/">
      <!-- Sportify -->
      <img src="/images/sportifymin.png"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  nostyle" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nostyle" href="/find">Find a teammate</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nostyle lastitem" href="/event" tabindex="-1" aria-disabled="true">Start event</a>
        </li>
      </ul>
      <div class="d-flex">
        <% if(user) { %>
          <div class="logout">
          Hello, <%= user.email %>
          <button class="btn btn-outline-light" onclick="location.assign('/logout')">
            Logout
          </button>
          <% } else { %>
          <button id="login"class="btn btn-outline-light login" onclick="location.assign('/login')"> 
            Login
          </button>
          <% } %>
      </div>
    </div>
  </div>
</nav>
<body>
    

<div class="detailscont">
    <div class="ldetails ">
        
        <div class="viewr1">
          <div class="viewactivity"> <%= events.activity%> </div>
          <%- thumbs[events.activity] %> 
        </div>
        <div class="viewname">  Activity by <%= events.name%> </div>

<!-- <div class="viewactivity">  Kp7, kiit campus, bhubaneswar </div> -->
        <div class="viewr2">
          <div class="viewsdt">
            <div class="viewdthead">Begins</div>  
            <div class=""><%= events.start.toLocaleString() %></div>  
          </div>
          <div class="viewmaxpeep">
            <div class="viewdthead">Maximum People</div>  
            <div class="maxpeeps"><%= events.minpeeps%></div>  

          </div>

        </div>
<div class="viewr3">
  <div class="viewdeschead">
    Address
  </div>
  <div class="viewdesc">  <%= address %> </div><br>
  <div class="viewdeschead">
    Description
  </div>
  <div class="viewdesc">  <%= events.description%> </div>
</div>
<div class="viewpeeps"> <b><%= events.going%></b> People are going  with Prabhav </div>
<div class="viewr4">
<button class="fgoing btn btn-outline-success"> Going </button>
<button class="fmightgo btn btn-outline-warning"> Interested </button>

</div>


        

    </div>
    <div id="map"></div>
    


</div>



<div class="content">
    <div id="style-selector-control" class="map-control">
      <select id="style-selector" class="selector-control form-control">
        <option value="night" selected="selected">Night mode</option>
        <option value="default">Default</option>
        <option value="silver">Silver</option>
        <option value="retro" >Retro</option>
        <option value="hiding">Hide features</option>
      </select>
    </div>
</div>




    <script>
      const lat = <%- events.lat %>;
      const lng = <%- events.lng %>;
      console.log(lat, lng);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap&v=beta&libraries=places,drawing" async></script>
    <script src="https://kit.fontawesome.com/<%=fakey%>" crossorigin="anonymous"></script>

  </body>

</html>
